.loginDiv {
  background-image: url("../../Component/Assets/carosal6.jpeg");
  background-repeat: no-repeat;
  background-size: cover; /* Ensures the background image covers the entire container */
  background-position: center; /* Centers the background image */
  justify-content: center;
  align-items: center;
}
.dialogContent {
  display: flex;
  width: 100%;
  height: 100%;
}
.dialogTitle {
  background-color: black;
  color: white;
  height: 5rem;
}

.loginLeft {
  flex: 3;
}
.loginRight img {
  width: 100%;
  height: 673px;
  object-fit: cover;
}
.loginRight {
  flex: 5;
  background-color: #f5f5f5;
  overflow: hidden;
}

.loginMuiForm {
  width: 95%;
}

.toggleDiv,
.rememberDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.signupNow {
  margin-top: 2rem;
}
.signupNow,
.dialogTitle {
  display: flex;
  justify-content: center;
}
.signupLink {
  cursor: pointer;
  text-decoration: none;
}
.signUp-loginCode {
  display: flex;
}
.copyRight {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px 20px; /* Add padding to create space around the text */
  text-align: left;
  width: 100%;
  box-sizing: border-box; /* Ensures padding is included in the width */
  margin: 0;
}

.copyRight p {
  margin: 0; /* Remove margin from the p element */
}
label {
  margin-bottom: 1rem;
}
hr {
  margin: 1rem 0rem 1rem 0rem;
}
@media (max-width: 768px) {
  .MuiDialog-paper {
    width: 90%;
    height: auto;
    max-width: 90%;
  }

  .loginLeft,
  .loginRight {
    flex: 1 1 100%;
    padding: 10px;
  }

  .loginRight img {
    max-width: 100%;
    height: auto;
  }
  .toggleDiv {
    flex-direction: column;
  }

  .buttons {
    gap: 15px;
  }
}
/* sign in DIv */

.leftContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.leftContent {
  width: 400px;
  height: 100%;
  padding: 20px;
}
.leftContent h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.leftContent h6 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.leftContent label {
  display: block;
  margin: 1rem 0rem 1rem 0rem;
  font-size: 14px;
  text-align: left;
  font-weight: 600;
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.buttons {
  margin-top: 20px;
}
.signinNow {
  display: flex;

  align-items: center;
  flex-direction: column;
}
.signinNow p {
  margin: 1rem;
}
.copyRight {
  position: absolute;
  left: 10px;
  bottom: 0;
  top: 1;
  color: #888;
}
