.slideImg {
  width: 100%;
  height: auto; /* Make the height responsive */
  object-fit: cover; /* Ensure the image covers the area without distorting */
}

@media (max-width: 1024px) {
  .slideImg {
    height: 500px; /* Adjust for medium screens like tablets */
  }
}

@media (max-width: 768px) {
  .slideImg {
    height: 400px; /* Adjust for smaller screens like phones */
  }
}
