.footerMain {
  width: 100%;
  background-color: black;
  color: #fff;
  /* padding: 2rem 3rem 2rem 3rem; */
  position: static;
  bottom: 0;
  left: 0;
}
.footercol {
  margin: 0rem 0rem 5rem 3rem;
  display: flex;

  width: 100%;
  gap: 5%;

  flex-wrap: wrap;
  align-items: center;
}
.footerLogo {
  margin-top: 2rem;
  max-width: 100%;
  height: auto;
  display: block;
}
.footercol .col1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footercol .col2 h4 {
  text-align: center;
}
.footercol .col2 {
  text-align: center;
  padding: 20px;
}
.pageContainer {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.morePage,
.morePage2 {
  display: flex;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: self-start;
}
.morePage p,
.morePage2 p {
  margin: 0; /* Adjust vertical spacing */
}
.footeremail {
  display: flex;
  align-items: center;
  gap: 16px;
}
.morePage a,
.morePage2 a {
  text-decoration: none;
  color: inherit;
}
.footercol .col3 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
}
.footercol .col3 .social {
  display: flex;
  gap: 8px;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.row2 {
  display: flex;
  gap: 20px;
}
