.carosalText {
  margin-top: 3rem;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "left right";
}
.carosalLeft {
  padding: 0rem 9rem 0rem 3rem;
  grid-area: left;
}
.carosalLeft h1 {
  font-weight: 800;
  font-size: 44px;
}
.carosalRight {
  grid-area: right;
}
.carosalRight p {
  padding: 0rem 2rem 0rem 2rem;
  font-size: larger;
}
.cardSection {
  padding: 2rem;
}
.cardSection .cardText {
  width: 44%;
  margin: 0rem 1rem 5rem 1rem;
}
.cardSection h1 {
  font-weight: 400;
  font-size: 41px;
}
.cardDiv {
  margin: 2rem;
}
.brandDiv .brandContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5%;
  /* background: ", */
  padding: 20px;
  height: 200px;
}
.brandContainer .brandImg {
  width: 45%;
  height: auto;
  margin-bottom: 5px;
}
.brandContainer h3 {
  font-size: 16px;
  text-align: center;
}
.brandDiv h1 {
  text-align: center;
  font-weight: 800;
}
/* VIP */
.vip-home-main {
  margin-top: 5rem;
}
.vip-home-main .welcome {
  background-color: black;
  color: white;
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  height: 6rem;
}
.welcome img {
  /* width: 50%; */
  height: 110px;
  object-fit: cover;
}
.explusiveDeals {
  padding: 0rem 5rem 0rem 5rem;
}
.contact-advisor {
  margin-top: 5rem;
  padding: 1rem;
  background-color: black;
  color: white;
}

.contact-container {
  display: flex;
  gap: 20px; /* Adds space between columns */
  flex-wrap: wrap; /* Ensures responsiveness */
}

.contact-container .column {
  flex: 1; /* Distributes equal width for both columns */
  min-width: 300px; /* Ensures columns don't shrink too much on smaller screens */
}

.contact-container .row-column {
  padding-right: 20px;
}

.contact-container .form-column {
  padding-left: 20px;
}

.rowcontainer {
  width: 50%;
}
.contact-advisor-form {
  display: flex;
  flex-direction: column;
  gap: 16px; /* Adds spacing between form elements */
}

.contact-advisor-form label {
  font-weight: bold;
  margin-bottom: 8px;
}

.contact-submit {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact-submit:hover {
  background-color: #0056b3;
}

.vipMember .row6 {
  margin-top: 4rem;
  padding: 0rem 5rem 0rem 5rem;
  display: flex;
  flex-direction: row; /* Stacks child elements vertically */
  align-items: center; /* Centers content horizontally */
  gap: 16px; /* Adds space between the columns */
}

.vipMember .column7,
.vipMember .column8 {
  width: 100%; /* Ensures full width for each column */
}

@media (max-width: 768px) {
  .welcome img {
    max-width: 100%;
    height: auto;
  }
}
